@charset "UTF-8";
/* CSS Document */
@font-face {
  font-family: 'iransans';
  src: url('/fonts/IRANSansWeb.woff2') format('woff2'),
       url('/fonts/IRANSansWeb.woff') format('woff'),
       url('/fonts/IRANSans.ttf') format('truetype');
}
#mainmsg
{
	font-family: 'iransans';
	color: red;
}